/* Home specific styles */
.page-content h1 {
  font-size: var(--font-size-4xl);
  margin-bottom: var(--spacing-sm);
}

.page-content > p {
  font-size: var(--font-size-base);
  color: var(--color-text-secondary);
}

section {
  margin-bottom: var(--spacing-3xl);
}

.card.modulo-card {
  background-color: #a8c8cd1a;
  transition: border-color .15s;
}
.card.modulo-card:hover {
  border-color: var(--color-primary);
}
